Video guide: https://www.youtube.com/watch?v=vmxJ6xQeA0g

In [1]:
# import libraries
import requests
import json
import pandas as pd

In [2]:
# do a test requests for the "/" route
# remember to run microserver school.py
test_res = requests.get("http://127.0.0.1:5000/")
test_res

In [3]:
# get the text from the Response object
test_res.text

'Hello world!'

In [4]:
# do a test requests for the "/" route
test_res = requests.get("http://127.0.0.1:5000/predict")
test_res

In [5]:
test_res.text

'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>\n'

In [6]:
# declare payload
body = [
    {"school_setting": 0,
     "school_type": 1,
     "teaching_method": 1,
     "n_student": 20,
     "gender": 1, 
     "lunch": 1,
     "pretest": 48.0},
    
    {"school_setting": 0,
     "school_type": 1,
     "teaching_method": 1,
     "n_student": 20,
     "gender": 1, 
     "lunch": 1,
     "pretest": 48.0},
    
    {"school_setting": 0,
     "school_type": 1,
     "teaching_method": 1,
     "n_student": 20,
     "gender": 1, 
     "lunch": 1,
     "pretest": 48.0},
    
    {"school_setting": 0,
     "school_type": 1,
     "teaching_method": 1,
     "n_student": 20,
     "gender": 1, 
     "lunch": 1,
     "pretest": 48.0}
]

In [7]:
# convert to string representation
json.dumps(body)

'[{"school_setting": 0, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}, {"school_setting": 0, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}, {"school_setting": 0, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}, {"school_setting": 0, "school_type": 1, "teaching_method": 1, "n_student": 20, "gender": 1, "lunch": 1, "pretest": 48.0}]'

In [8]:
# to df
pd.read_json(json.dumps(body))

,school_setting,school_type,teaching_method,n_student,gender,lunch,pretest
0,0,1,1,20,1,1,48
1,0,1,1,20,1,1,48
2,0,1,1,20,1,1,48
3,0,1,1,20,1,1,48

In [9]:
test_res = requests.get("http://127.0.0.1:5000/predict",
                        json=json.dumps(body)) # payload
test_res

In [10]:
test_res.json()

{'prediction': [53.1985018037518,
  53.1985018037518,
  53.1985018037518,
  53.1985018037518]}

In [11]:
test_df = pd.read_json(json.dumps(body))
test_df

,school_setting,school_type,teaching_method,n_student,gender,lunch,pretest
0,0,1,1,20,1,1,48
1,0,1,1,20,1,1,48
2,0,1,1,20,1,1,48
3,0,1,1,20,1,1,48

In [12]:
test_res = requests.get("http://127.0.0.1:5000/predict",
                        json=json.dumps(body)) # payload

# test_res = requests.get("https://uplevelmasterclassflaskjackie.herokuapp.com/predict",
#                         json=json.dumps(body))
test_res

In [13]:
test_res.json()

{'prediction': [53.1985018037518,
  53.1985018037518,
  53.1985018037518,
  53.1985018037518]}

In [14]:
# take the values of prediction and append it to test_df as new column
predictions = test_res.json()['prediction']
test_df['prediction'] = predictions
test_df

,school_setting,school_type,teaching_method,n_student,gender,lunch,pretest,prediction
0,0,1,1,20,1,1,48,53.198502
1,0,1,1,20,1,1,48,53.198502
2,0,1,1,20,1,1,48,53.198502
3,0,1,1,20,1,1,48,53.198502

In [15]:
test_res.json()

{'prediction': [53.1985018037518,
  53.1985018037518,
  53.1985018037518,
  53.1985018037518]}